<h2>
  <div style="max-width:1000px;background:rgba(0,0,0,.1);height:50px">
    <div fittext [maxFontSize]="max" [minFontSize]="min">This span is too big for this divthis divthis divthis div</div>
  </div>
</h2>
Max ({{max}})
<input [(ngModel)]="max">
Min ({{min}})
<input [(ngModel)]="min">
<h2>
  <div style="width:245px;background:rgba(0,0,0,.1);height:30px">
    <span [fittext]="disable">This span is too big for this div</span>
  </div>
</h2>
<br><br><br>
<button (click)="disable = !disable">{{ disable ? 'Disable' : 'Enable' }}</button>

<h1>Ellipsis</h1>
<h2>
  <div style="width:245px;background:rgba(0,0,0,.1);height:60px">
    <div [fittext]="false" [ellipsis]="ellipsis">This span is too big for this div whit ellipsis, no <small>fittext<strong> asd</strong></small></div>
  </div>
</h2>
<button (click)="ellipsis = !ellipsis">{{ ellipsis ? 'normal' : 'ellipsis' }}</button>